body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#correct {
    background-color: #88E788;
}

#wrong {
    background-color: #FFB7CE;
}